.footer
  .inner
    .left
      %p STUDIO PHTについて
      %ul
        %li STUDIO PHTニュース
        %li ご利用ガイド
        %li Q & A
        %li お問い合わせ
    .center
      %p ご利用にあたって
      %ul
        %li 利用規約
        %li ガイドライン
        %li 特定商取引法に基づく表記
        %li 個人情報保護法方針
    .right
      %p 公式アカウント
      %ul
        %li Facebook公式
        %li Twitter公式アカウント
    .logo
      ©︎STUDIO PHT