= render 'tweets/header'
.contents
  %p
    投稿一覧
  .view
    - @tweets.each do |tweet|
      .content_post{:style => "background-image: url(#{tweet.image});"}
        = (tweet.text).truncate(7, separator: '.')
  = paginate(@tweets)