* {
  box-sizing: border-box;
}

$black: #555555;
$dark: #666;
$gray: #D8D8D8;
$white: #ffffff;

a {
  text-decoration: none;
  cursor: pointer;
}

html {
  font-size: 62.5%;
  font-family: serif;
}

body {
  font-size: 1.3rem;
  font-style: none;
  font-weight: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.wrapper{
  background-color: $white;
  .headerin {
    background-color: $white;
    height: 110px;
    width: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    .inner {
      display: flex;
      justify-content: space-between;
      height: 100%;
      width: 85%;
      position: relative;
      margin: 0 auto;
      .mainnav {
        font-size: 1.6rem;
        height: 100%;
        align-items: center;
        display: flex;
        position: relative;
        .search {
          position: absolute;
          top: 45px;
          left: 0;
          .search-form {
            font-size: 1.2rem;
            display: flex;
            #keyword {
              width: 130px;
              height: 25px;
            }
            .search-btn {
              font-size: 1.2rem;
              height: 25px;
              width: 40px;
            }
          }
        }
        .li {
          letter-spacing: 0.5px;
        }
      }
      .title {
        position: absolute;
        line-height: 110px;
        left: 35%;
        h1{
          font-size: 4.75rem;
          letter-spacing: 6.5px;
        }
      }
      .mainbtn {
        align-items: center;
        display: flex;
        line-height: 25px;
        font-size: 1.6rem;
        .tweet {
          border-bottom: 1px solid rgba(0, 0, 0, 0.3);
          text-align: center;
          width: 80px;
        }
        .sign_up {
          border-bottom: 1px solid rgba(0, 0, 0, 0.3);
          width: 80px;
          text-align: center;
          margin-left: 30px;
        }
        .sign_in {
          border-bottom: 1px solid rgba(0, 0, 0, 0.3);
          text-align: center;
          margin-left: 30px;
          width: 80px;
        }
      }
    }
  }
  .slider {
    width: 100%;
    margin: 0 auto;
    display: flex;
    background-color: black;
    margin-top: 110px;
    height: 400px;
    .slick-list {
      height: 400px;
      width: 100%;
      margin-left: 20%;
      .slick-track {
        height: 100%;
        .slick-slide {
          display: inline-block;
          width: 100%;
          .content_post {
            display: inline-block;
            background-position: center center;
            background-repeat: no-repeat;
            height: 100%;
            width: 110%;
            background-size: contain;
            color: $white;
            &__title {
              width: 20%;
              font-size: 3rem;
              margin: 10% 20% 0 0;
            }
            &__nickname {
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
  .contents {
    margin-top: 30px;
    padding: 20px 50px;
    align-items: center;
    overflow: hidden;
    p {
      text-align: center;
      font-size: 2rem;
      margin: 20px 0;
    }
    .view {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
      grid-gap: 30px;
      min-width: 300px;
      overflow: hidden;
      .content_post {
        float: left;
        padding: 10px;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        height: 400px;
        box-shadow: 0 0 10px rgba(41,41,41,0.2);
        color: $white;
        border-radius: 5px;
        background-color: black;
        display: flex;
        justify-content: space-between;
        .title {
          font-size: 2.5rem;
        }
      }
    }
    .pagination {
      margin-top: 50px;
      text-align: center;
      font-size: 1.7rem;
    }
  }
  .footer {
    width: 100%;
    background-color: #292929;
    .inner {
      margin: 0 auto;
      width: 60%;
      height: 220px;
      display: flex;
      justify-content: space-around;
      position: relative;
      color: $white;
      p {
        text-align: center;
        margin: 15px 0;
        font-size: 1.6rem;
      }
      ul {
        font-family: 'Century Gothic', sans-serif;
        text-align: center;
        line-height: 30px;
        opacity: 0.5;
      }
      .logo {
        position: absolute;
        bottom: 2px;
      }
    }
  }
}

.category {
  font-size: 1.6rem;
  padding: 0;
  position: absolute;
  left: 220px;
  top: 45px;
  .more {
    width: 120px;
    li {
      background-color: $white;
      line-height: 30px;
    }
  }
}
.category label {
  padding: 10px;
  cursor :pointer;
}
.category label:hover {
  background: #efefef;
}
.category input {
  display: none;
}
.category .more {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}
.category input:checked ~ .more {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}