@mixin name($margin: 20px 0) {
  margin: $margin;
}

@mixin text($margin-bottom: 5px) {
  margin-bottom: $margin-bottom;
}

@mixin form($padding-left: 10px, $height: 45px, $width: 100%, $border-radius: 5px) {
  padding-left: $padding-left;
  height: $height;
  width: $width;
  border-radius: $border-radius;
  border: solid 1px rgb(220, 220, 220);
}

@mixin fullname($margin-bottom: 20px) {
  display: flex;
  margin-bottom: $margin-bottom;
}

@mixin birth($padding-left: 10px, $height: 45px, $width: 76px, $margin-top: 5px) {
  padding-left: $padding-left;
  height: $height;
  width: $width;
  margin-top: $margin-top;
}

a {
  text-decoration: none;
  color: #333;
}

.SideType{
  display: flex;
  align-items: center;
}

.bold{
  font-weight: bold;
}

.red{
  background-color: #ea352d;
  color: white;
  font-size: 12px;
  border-radius: 2px;
  margin-left: 5px;
  padding: 0 1px;
}

.Note{
  color: rgb(181, 181, 181);
}

.btn{
  background-color: #ea352d;
  color: white;
  height: 50px;
  width: 100%;
}

.wrapper {
  height: 100vh;
  background-color: #f5f5f5;
  .signup-container {
    margin-top: 100px;
    font-family: 'arial';
    background-color: #f5f5f5;
    .signup-main {
      color: #333;
      background-color: white; 
      width: 700px;
      margin: 0 auto;
      .title{
        height: 90px;
        line-height: 90px;
        background-color: #fff;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        border-bottom: solid 1px rgb(239, 239, 239);
      }
      .main{
        background-color: white;
        .input{
          font-size: 14px;
          height: 100%;
          width: 343px;
          margin: 0 auto;
          padding-bottom: 20px;
          &__nickname{
            @include name();
            &__text{
              @include text();
            }
            &__form{
              @include form();
            }
          }
          &__email{
            @include name();
            &__text{
              @include text();
            }
            &__form{
              @include form();
            }
          }
          &__password{
            @include name();
            &__text{
              @include text();
            }
            &__form{
              @include form();
            }
          }
        }
      }
    }
  }
  .field_with_errors {
    display: contents;
  }
  .error{
    display: none;
  }
}
